public/open-mensa-v1.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT cafeteria (day*)>
<!ELEMENT day (category+)>
<!ELEMENT category (meal+)>
<!ELEMENT meal (name,note*,price*)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT note (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ATTLIST cafeteria version CDATA #REQUIRED>
<!ATTLIST day date CDATA #REQUIRED>
<!ATTLIST category name CDATA #REQUIRED>
